@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap");
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bubble {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes tobig {
  0% {
    height: 275px;
    width: 275px; }
  100% {
    height: 550px;
    width: 690px; } }

@keyframes tosmall {
  0% {
    height: 550px;
    width: 690px; }
  100% {
    height: 275px;
    width: 275px; } }

@keyframes move2left {
  100% {
    transform: translate(-740px); } }

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  cursor: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit;
  cursor: none; }

.cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  cursor: none;
  z-index: 91; }

.cursor-text {
  transform: translate(-50%, -14px);
  text-transform: uppercase;
  color: #7e143c; }

.follower {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  cursor: none;
  z-index: 90; }

.follower-circle {
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: #343434 1px solid;
  transition: width 160ms ease-out, height 160ms ease-out; }

.follower-scaled {
  border: #7e143c 1px solid;
  width: 160px;
  height: 160px; }

.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 220px;
  padding-left: 100px;
  padding-right: 100px; }
  @media (max-width: 860px) {
    .wrapper {
      padding-left: 26px;
      padding-right: 26px; } }

#content {
  width: 100%; }

.page {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 220px; }

.section-header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 100%;
  color: #7e143c; }
  .section-header.center {
    text-align: center; }

.nav-group {
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  grid-template-rows: 1fr 1px 1fr;
  grid-template-areas: "NL  LOGO  NI" "LL  LOGO  RL" "LE  LOGO  RE";
  padding-top: 26px; }
  @media (max-width: 860px) {
    .nav-group {
      grid-template-rows: 1fr 1fr 135px;
      grid-template-areas: "NI   NI   NI" "NL   NL   NL" "LL  LOGO  RL"; } }

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  grid-area: NL; }
  @media (max-width: 860px) {
    .nav-links {
      justify-content: center;
      margin-bottom: 20px; } }

.nav-link {
  font-size: 14px;
  line-height: 100%;
  color: #000000; }

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  grid-area: NI; }
  @media (max-width: 860px) {
    .nav-icons {
      justify-content: center;
      margin-bottom: 20px; } }

.nav-icon {
  width: 24px;
  height: 24px; }
  .nav-icon.phone {
    background-image: url("../assets/icons/phone.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .nav-icon.mail {
    background-image: url("../assets/icons/mail.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .nav-icon.location {
    background-image: url("../assets/icons/location.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .nav-icon.instagram {
    background-image: url("../assets/icons/instagram.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.nav-logo {
  width: 135px;
  height: 135px;
  background-image: url("../assets/icons/logo.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: LOGO; }

.nav-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto; }
  .nav-line.left {
    grid-area: LL; }
  .nav-line.right {
    grid-area: RL; }

.nav-empty {
  width: 100%;
  padding-top: 40px;
  font-size: 14px; }
  .nav-empty.left {
    grid-area: LE; }
  .nav-empty.right {
    grid-area: RE;
    text-align: right; }

.catalog-group {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(390px, auto) minmax(360px, auto) minmax(390px, auto);
  grid-template-areas: "LI MENU RI"; }
  @media (max-width: 1400px) {
    .catalog-group {
      grid-template-columns: minmax(335px, auto) minmax(360px, auto) minmax(335px, auto); } }
  @media (max-width: 1360px) {
    .catalog-group {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "MENU MENU" "LI     RI"; } }
  @media (max-width: 860px) {
    .catalog-group {
      grid-template-columns: 1fr;
      grid-template-areas: "MENU" " LI " " RI "; } }

.catalog-image-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 440px;
  min-width: 200px; }
  .catalog-image-block.left {
    grid-area: LI;
    justify-content: flex-start; }
  .catalog-image-block.right {
    grid-area: RI;
    justify-content: flex-end; }
  @media (max-width: 460px) {
    .catalog-image-block {
      height: 80vmin; } }

.catalog-image-holder {
  display: flex;
  flex-direction: row;
  position: relative;
  animation-name: fadein, bubble;
  animation-fill-mode: both;
  animation-delay: 200ms;
  animation-duration: 600ms;
  align-items: stretch;
  height: 100%; }

.catalog-image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top; }
  .catalog-image[data-menu="bed"].first {
    background-image: url("../assets/images/bed_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="bed"].second {
    background-image: url("../assets/images/bed_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="bed"].second {
        background-position: top; } }
  .catalog-image[data-menu="bedroom"].first {
    background-image: url("../assets/images/bedroom_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="bedroom"].second {
    background-image: url("../assets/images/bedroom_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="bedroom"].second {
        background-position: top; } }
  .catalog-image[data-menu="childroom"].first {
    background-image: url("../assets/images/childroom_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="childroom"].second {
    background-image: url("../assets/images/childroom_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="childroom"].second {
        background-position: top; } }
  .catalog-image[data-menu="hallway"].first {
    background-image: url("../assets/images/hallway_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="hallway"].second {
    background-image: url("../assets/images/hallway_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="hallway"].second {
        background-position: top; } }
  .catalog-image[data-menu="kitchen"].first {
    background-image: url("../assets/images/kitchen_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="kitchen"].second {
    background-image: url("../assets/images/kitchen_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="kitchen"].second {
        background-position: top; } }
  .catalog-image[data-menu="livingroom"].first {
    background-image: url("../assets/images/livingroom_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="livingroom"].second {
    background-image: url("../assets/images/livingroom_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="livingroom"].second {
        background-position: top; } }
  .catalog-image[data-menu="sofa"].first {
    background-image: url("../assets/images/sofa_1.jpg");
    background-position: top; }
  .catalog-image[data-menu="sofa"].second {
    background-image: url("../assets/images/sofa_2.jpg");
    background-position: bottom; }
    @media (max-width: 1360px) {
      .catalog-image[data-menu="sofa"].second {
        background-position: top; } }

.catalog-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  grid-area: MENU; }

.catalog-menu-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.catalog-menu-item {
  font-size: 38px;
  line-height: 150%;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  text-underline-offset: 10px; }
  .catalog-menu-item.active {
    color: #7e143c;
    text-decoration: underline; }
  .catalog-menu-item:not(:first-child):before {
    content: "/";
    color: #c1c1c1;
    display: inline-block;
    padding: 0px 10px; }

.styles-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 80px;
  grid-template-areas: "HA EA" "LS RS"; }
  .styles-group .section-header {
    grid-area: HA; }
  @media (max-width: 860px) {
    .styles-group {
      grid-template-columns: 1fr;
      grid-template-areas: "HA" "RS" "LS"; } }

.styles-image-holder {
  display: flex;
  flex-direction: row;
  position: relative;
  animation-name: fadein, bubble;
  animation-fill-mode: both;
  animation-delay: 200ms;
  animation-duration: 600ms;
  align-items: stretch;
  height: 100%;
  max-width: 335px;
  margin-right: 20px;
  grid-area: LS; }

.styles-image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top; }
  .styles-image[data-menu="bed"] {
    background-image: url("../assets/images/bed_1.jpg");
    background-position: top; }
  .styles-image[data-menu="bedroom"] {
    background-image: url("../assets/images/bedroom_1.jpg");
    background-position: top; }
  .styles-image[data-menu="childroom"] {
    background-image: url("../assets/images/childroom_1.jpg");
    background-position: top; }
  .styles-image[data-menu="hallway"] {
    background-image: url("../assets/images/hallway_1.jpg");
    background-position: top; }
  .styles-image[data-menu="kitchen"] {
    background-image: url("../assets/images/kitchen_1.jpg");
    background-position: top; }
  .styles-image[data-menu="livingroom"] {
    background-image: url("../assets/images/livingroom_1.jpg");
    background-position: top; }
  .styles-image[data-menu="sofa"] {
    background-image: url("../assets/images/sofa_1.jpg");
    background-position: top; }

.styles-menu-block {
  display: flex;
  flex-direction: column;
  gap: 0;
  grid-area: RS; }

.styles-menu-item {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 25px;
  margin-bottom: 50px;
  width: 100%;
  color: black;
  border-bottom: 1px solid #c1c1c1;
  position: relative; }
  .styles-menu-item:after {
    content: url("../assets/icons/vector.svg");
    color: #c1c1c1;
    display: inline-block;
    position: absolute;
    right: 0; }

.collections-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;
  grid-template-areas: "HA HA EA EA" "LS RS RS RS"; }
  .collections-group .section-header {
    grid-area: HA; }
  @media (max-width: 860px) {
    .collections-group {
      grid-template-columns: 1fr;
      grid-template-areas: "HA" "RS" "LS"; } }

.collections-slider-wrapper {
  height: 550px;
  padding: 0;
  grid-area: RS;
  overflow: hidden; }

.collections-slider-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  height: 100%;
  width: max-content;
  overflow: hidden;
  align-items: flex-end; }

.collections-film-item {
  display: block;
  width: 275px;
  height: 275px;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .collections-film-item.big {
    width: 690px;
    height: 550px; }
  .collections-film-item[data-menu="bed"].first {
    background-image: url("../assets/images/bed_1.jpg"); }
  .collections-film-item[data-menu="bed"].second {
    background-image: url("../assets/images/bed_2.jpg"); }
  .collections-film-item[data-menu="bedroom"].first {
    background-image: url("../assets/images/bedroom_1.jpg"); }
  .collections-film-item[data-menu="bedroom"].second {
    background-image: url("../assets/images/bedroom_2.jpg"); }
  .collections-film-item[data-menu="childroom"].first {
    background-image: url("../assets/images/childroom_1.jpg"); }
  .collections-film-item[data-menu="childroom"].second {
    background-image: url("../assets/images/childroom_2.jpg"); }
  .collections-film-item[data-menu="hallway"].first {
    background-image: url("../assets/images/hallway_1.jpg"); }
  .collections-film-item[data-menu="hallway"].second {
    background-image: url("../assets/images/hallway_2.jpg"); }
  .collections-film-item[data-menu="kitchen"].first {
    background-image: url("../assets/images/kitchen_1.jpg"); }
  .collections-film-item[data-menu="kitchen"].second {
    background-image: url("../assets/images/kitchen_2.jpg"); }
  .collections-film-item[data-menu="livingroom"].first {
    background-image: url("../assets/images/livingroom_1.jpg"); }
  .collections-film-item[data-menu="livingroom"].second {
    background-image: url("../assets/images/livingroom_2.jpg"); }
  .collections-film-item[data-menu="sofa"].first {
    background-image: url("../assets/images/sofa_1.jpg"); }
  .collections-film-item[data-menu="sofa"].second {
    background-image: url("../assets/images/sofa_2.jpg"); }

.collections-text-wrapper {
  width: 100%;
  height: 350px;
  position: relative;
  grid-area: LS; }

.collections-text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  padding-right: 40px; }

.collections-text-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 100%; }

.collections-text-header {
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  line-height: 120%;
  font-style: italic; }

.collections-text-body {
  font-size: 15px; }
  .collections-text-body:last-child {
    padding: 40px; }

.collections.text.button {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 40px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0 50px;
  border-radius: 100px;
  color: white;
  background-color: #7e143c;
  z-index: 100; }

#personal {
  padding: 0;
  width: 100%; }

.personal-list-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #0b1f3c;
  padding: 160px 0;
  overflow: hidden; }

.personal-list-form {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 500px; }
  .personal-list-form .section-header {
    color: white;
    z-index: 80; }
  .personal-list-form .button {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    line-height: 40px;
    font-weight: 400;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 50px;
    border-radius: 100px;
    color: black;
    background-color: white;
    z-index: 100;
    align-self: flex-end; }

.personal-film {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.personal-film-item {
  display: block;
  width: 335px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; }
  .personal-film-item[data-menu="bed"].first {
    background-image: url("../assets/images/bed_1.jpg"); }
  .personal-film-item[data-menu="bed"].second {
    background-image: url("../assets/images/bed_2.jpg"); }
  .personal-film-item[data-menu="bedroom"].first {
    background-image: url("../assets/images/bedroom_1.jpg"); }
  .personal-film-item[data-menu="bedroom"].second {
    background-image: url("../assets/images/bedroom_2.jpg"); }
  .personal-film-item[data-menu="childroom"].first {
    background-image: url("../assets/images/childroom_1.jpg"); }
  .personal-film-item[data-menu="childroom"].second {
    background-image: url("../assets/images/childroom_2.jpg"); }
  .personal-film-item[data-menu="hallway"].first {
    background-image: url("../assets/images/hallway_1.jpg"); }
  .personal-film-item[data-menu="hallway"].second {
    background-image: url("../assets/images/hallway_2.jpg"); }
  .personal-film-item[data-menu="kitchen"].first {
    background-image: url("../assets/images/kitchen_1.jpg"); }
  .personal-film-item[data-menu="kitchen"].second {
    background-image: url("../assets/images/kitchen_2.jpg"); }
  .personal-film-item[data-menu="livingroom"].first {
    background-image: url("../assets/images/livingroom_1.jpg"); }
  .personal-film-item[data-menu="livingroom"].second {
    background-image: url("../assets/images/livingroom_2.jpg"); }
  .personal-film-item[data-menu="sofa"].first {
    background-image: url("../assets/images/sofa_1.jpg"); }
  .personal-film-item[data-menu="sofa"].second {
    background-image: url("../assets/images/sofa_2.jpg"); }

.bottom-nav-wrapper {
  width: 100%;
  background-color: #040f1f;
  padding: 160px 0; }

.bottom-nav-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px; }
  @media (max-width: 1600px) {
    .bottom-nav-content {
      max-width: calc(100vw - 200px);
      padding: 0 100px; } }
  .bottom-nav-content .nav-link {
    color: white; }
  .bottom-nav-content .nav-icon.phone {
    background-image: url("../assets/icons/phone.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(0.75);
    -webkit-filter: invert(0.75); }
  .bottom-nav-content .nav-icon.mail {
    background-image: url("../assets/icons/mail.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(0.75);
    -webkit-filter: invert(0.75); }
  .bottom-nav-content .nav-icon.location {
    background-image: url("../assets/icons/location.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(0.75);
    -webkit-filter: invert(0.75); }
  .bottom-nav-content .nav-icon.instagram {
    background-image: url("../assets/icons/instagram.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(0.75);
    -webkit-filter: invert(0.75); }
  .bottom-nav-content .nav-logo {
    background-image: url("../assets/icons/logo.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(0.75);
    -webkit-filter: invert(0.75); }
  .bottom-nav-content .nav-line {
    background-color: white; }
  .bottom-nav-content .nav-empty {
    color: white; }
