$main: 15px;
$nav: 14px;
$menu: 25px;
$collections: 28px;
$section: 85px;

$primary: #000000;
$secondary: #7e143c;

$gray: #c1c1c1;
$dark: #0b1f3c;
$darkest: #040f1f;

$cursor: #343434;

$bp1600: 1600px;
$bp1400: 1400px;
$bp1360: 1360px;
$bp860: 860px;
$bp460: 460px;

$catnames: "bed", "bedroom", "childroom", "hallway", "kitchen", "livingroom",
  "sofa";

@mixin breakpoint($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin transition($duraton) {
  transition: top $duraton;
  -webkit-transition: $duraton;
}

@mixin icon($svg, $invert) {
  background-image: url("../assets/icons/" + $svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @if $invert {
    filter: invert(0.75);
    -webkit-filter: invert(0.75);
  }
}

@mixin button($color, $background) {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 40px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0 50px;
  border-radius: 100px;
  color: $color;
  background-color: $background;
  z-index: 100;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bubble {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

@keyframes leftPreVisible {
  0% {
    right: -315px;
  }
  100% {
    right: 0px;
  }
}

@keyframes leftVisible {
  0% {
    right: 0px;
    height: 275px;
    width: 275px;
  }
  100% {
    right: 315px;
    height: 550px;
    width: calc(100% - 315px);
  }
}

@keyframes leftPostVisible {
  0% {
    right: 315px;
    height: 550px;
    width: calc(100% - 315px);
  }
  100% {
    right: calc(100% + 40px);
  }
}

@keyframes leftSwapPrevisible {
  0% {
    right: 0px;
    height: 275px;
    width: 275px;
  }
  100% {
    right: 0px;
    height: 550px;
    width: calc(100% - 315px);
  }
}

@keyframes leftSwapVisible {
  0% {
    right: 315px;
    height: 550px;
    width: calc(100% - 315px);
  }
  100% {
    right: calc(100% - 275px);
    height: 275px;
    width: 275px;
  }
}


@keyframes rightPreVisible {
  0% {
    left: -315px;
  }
  100% {
    left: 0px;
  }
}

@keyframes rightVisible {
  0% {
    left: 0px;
    height: 275px;
    width: 275px;
  }
  100% {
    left: 315px;
    height: 550px;
    width: calc(100% - 315px);
  }
}

@keyframes rightPostVisible {
  0% {
    left: 315px;
    height: 550px;
    width: calc(100% - 315px);
  }
  100% {
    left: calc(100% + 40px);
  }
}


@keyframes rightSwapPrevisible {
  0% {
    left: 0px;
    height: 275px;
    width: 275px;
  }
  100% {
    left: 0px;
    height: 550px;
    width: calc(100% - 275px);
  }
}

@keyframes rightSwapVisible {
  0% {
    left: 275px;
    height: 550px;
    width: calc(100% - 315px);
  }
  100% {
    left: calc(100% - 315px);
    height: 275px;
    width: 275px;
  }
}