$main: 15px;
$nav: 14px;
$menu: 25px;
$section: 85px;

$primary: #000000;
$secondary: #7e143c;

$gray: #c1c1c1;
$dark: #0b1f3c;
$darkest: #040f1f;

$cursor: #343434;

$bp1600: 1600px;
$bp1400: 1400px;
$bp1360: 1360px;
$bp860: 860px;
$bp460: 460px;

$catnames: "bed", "bedroom", "childroom", "hallway", "kitchen", "livingroom", "sofa";

@mixin breakpoint ($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin flex ($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin transition ($duraton) {
  transition: top $duraton;
  -webkit-transition: $duraton;
}

@mixin icon ($svg, $invert) {
  background-image: url("../assets/icons/" + $svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @if $invert {
    filter: invert(.75);
    -webkit-filter: invert(.75);
  }
}

@mixin button ($color, $background) {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 40px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0 50px;
  border-radius: 100px;
  cursor: pointer;
  color: $color;
  background-color: $background;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes bubble {
  0% { top: 50%; }
  100% { top: 0%; }
}

