@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap");

@import "./defaults.scss";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: $bp1400;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;

  @include breakpoint($bp860) {
    padding-left: 26px;
    padding-right: 26px;
  }
}

#content {
  width: 100%;
}

.page {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 220px;
}

.section-header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: $section;
  line-height: 100%;
  color: $secondary;

  &.center {
    text-align: center;
  }
}

// NAVIGATION

.nav-group {
  display: grid;
  grid-template-columns: (1fr 135px 1fr);
  grid-template-rows: (1fr 1px 1fr);
  grid-template-areas:
    "NL  LOGO  NI"
    "LL  LOGO  RL"
    "LE  LOGO  RE";
  padding-top: 26px;

  @include breakpoint($bp860) {
    grid-template-rows: (1fr 1fr 135px);
    grid-template-areas:
      "NI   NI   NI"
      "NL   NL   NL"
      "LL  LOGO  RL";
  }
}

.nav-links {
  @include flex(row);
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  grid-area: NL;

  @include breakpoint($bp860) {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.nav-link {
  font-size: $nav;
  line-height: 100%;
  color: $primary;
}

.nav-icons {
  @include flex(row);
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  grid-area: NI;

  @include breakpoint($bp860) {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.nav-icon {
  width: 24px;
  height: 24px;
  &.phone {
    @include icon("phone.svg", false);
  }
  &.mail {
    @include icon("mail.svg", false);
  }
  &.location {
    @include icon("location.svg", false);
  }
  &.instagram {
    @include icon("instagram.svg", false);
  }
}

.nav-logo {
  width: 135px;
  height: 135px;
  @include icon("logo.svg", false);
  grid-area: LOGO;
}

.nav-line {
  @include flex(row);
  align-items: center;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
  &.left {
    grid-area: LL;
  }
  &.right {
    grid-area: RL;
  }
}

.nav-empty {
  width: 100%;
  &.left {
    grid-area: LE;
  }
  &.right {
    grid-area: RE;
  }
}

// CATALOG

.catalog-group {
  display: grid;
  gap: 20px;
  grid-template-columns: (
    minmax(390px, auto) minmax(360px, auto) minmax(390px, auto)
  );
  grid-template-areas: "LI MENU RI";

  @include breakpoint($bp1400) {
    grid-template-columns: (
      minmax(335px, auto) minmax(360px, auto) minmax(335px, auto)
    );
  }

  @include breakpoint($bp1360) {
    grid-template-columns: (1fr 1fr);
    grid-template-areas:
      "MENU MENU"
      "LI     RI";
  }

  @include breakpoint($bp860) {
    grid-template-columns: (1fr);
    grid-template-areas:
      "MENU"
      " LI "
      " RI ";
  }
}

.catalog-image-block {
  @include flex(column);
  align-items: stretch;
  height: 440px;
  min-width: 200px;
  &.left {
    grid-area: LI;
    justify-content: flex-start;
  }
  &.right {
    grid-area: RI;
    justify-content: flex-end;
  }

  @include breakpoint($bp460) {
    height: 80vmin;
  }
}

.catalog-image-holder {
  @include flex(row);
  position: relative;
  animation-name: fadein, bubble;
  animation-fill-mode: both;
  animation-delay: 200ms;
  animation-duration: 600ms;
  align-items: stretch;
  height: 100%;
}

.catalog-image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @each $cat in $catnames {
    &[data-menu="#{$cat}"] {
      &.first {
        background-image: url("../assets/images/#{$cat}_1.jpg");
        background-position: top;
      }
      &.second {
        background-image: url("../assets/images/#{$cat}_2.jpg");
        background-position: bottom;

        @include breakpoint($bp1360) {
          background-position: top;
        }
      }
    }
  }
}

.catalog-text-block {
  @include flex(column);
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  grid-area: MENU;
}

.catalog-menu-block {
  @include flex(row);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog-menu-item {
  font-size: 38px;
  line-height: 150%;
  font-weight: 300;
  color: $primary;
  text-decoration: none;
  text-underline-offset: 10px;

  &.active {
    color: $secondary;
    text-decoration: underline;
  }

  &:not(:first-child) {
    &:before {
      content: "/";
      color: $gray;
      display: inline-block;
      padding: 0px 10px;
    }
  }
}

// STYLES

.styles-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 80px;
  grid-template-areas:
    "HA EA"
    "LS RS";

  .section-header {
    grid-area: HA;
  }

  @include breakpoint($bp860) {
    grid-template-columns: (1fr);
    grid-template-areas:
      "HA"
      "RS"
      "LS";
  }
}

.styles-image-holder {
  @include flex(row);
  position: relative;
  animation-name: fadein, bubble;
  animation-fill-mode: both;
  animation-delay: 200ms;
  animation-duration: 600ms;
  align-items: stretch;
  height: 100%;
  max-width: 335px;
  margin-right: 20px;
  grid-area: LS;
}

.styles-image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @each $cat in $catnames {
    &[data-menu="#{$cat}"] {
      background-image: url("../assets/images/#{$cat}_1.jpg");
      background-position: top;
    }
  }
}

.styles-menu-block {
  @include flex(column);
  gap: 0;
  grid-area: RS;
}

.styles-menu-item {
  font-family: "Cormorant Garamond", serif;
  font-size: $menu;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 25px;
  margin-bottom: 50px;
  width: 100%;
  color: black;
  border-bottom: 1px solid $gray;
  position: relative;

  &:after {
    content: url("../assets/icons/vector.svg");
    color: $gray;
    display: inline-block;
    position: absolute;
    right: 0;
  }
}

// COLLECTIONS

// PERSONAL

#personal {
  padding: 0;
  width: 100%;
}

.personal-list-wrapper {
  @include flex(column);
  position: relative;
  align-items: center;
  background-color: $dark;
  padding: 160px 0;
}

.personal-list-form {
  @include flex(column);
  gap: 80px;
  width: 500px;
  z-index: 10;

  .section-header {
    color: white;
  }

  .button {
    @include button(black, white);
    align-self: flex-end;
  }
}

.personal-film {
  @include flex(row);
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.personal-film-item {
  display: block;
  width: 335px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  @each $cat in $catnames {
    &[data-menu="#{$cat}"] {
      &.first {
        background-image: url("../assets/images/#{$cat}_1.jpg");
      }
      &.second {
        background-image: url("../assets/images/#{$cat}_2.jpg");
      }
    }
  }
}
